<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SupermarketsChain.Helpers.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SupermarketsChain.Helpers.Settings>
            <setting name="OracleConnectionString" serializeAs="String">
                <value>Data Source=localhost;User Id=TEAM_CRUX;Password=123;</value>
            </setting>
        </SupermarketsChain.Helpers.Settings>
    </userSettings>
</configuration>