<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SupermarketsChain.Helpers.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <userSettings>
    <SupermarketsChain.Helpers.Settings>
      <setting name="OracleConnectionString" serializeAs="String">
        <value>Data Source=localhost;User Id=TEAM_CRUX;Password=123;</value>
      </setting>
      <setting name="OracleSqlScriptLocation" serializeAs="String">
        <value>..\..\..\Helper.Files\Populate-Oracle-Db.sql</value>
      </setting>
      <setting name="XmlExpensesLocation" serializeAs="String">
        <value>..\..\..\Helper.Files\Vendor-Expenses.xml</value>
      </setting>
      <setting name="PdfSalesReportLocation" serializeAs="String">
        <value>..\..\..\Helper.Files\Aggregated-Sales-Report.pdf</value>
      </setting>
      <setting name="XmlSalesByVendorLocation" serializeAs="String">
        <value>..\..\..\Helper.Files\Sales-by-Vendors-Report.xml</value>
      </setting>
      <setting name="VerdanaFontLocation" serializeAs="String">
        <value>..\..\..\Helper.Files\Verdana.ttf</value>
      </setting>
      <setting name="MongoDbConnectionString" serializeAs="String">
        <value>mongodb://localhost:27017</value>
      </setting>
      <setting name="DefaultDbName" serializeAs="String">
        <value>SupermarketsChain</value>
      </setting>
      <setting name="JsonReportsFolder" serializeAs="String">
        <value>..\..\..\Helper.Files\Json-Reports\</value>
      </setting>
      <setting name="SqLiteSqlScriptLocation" serializeAs="String">
        <value>..\..\..\Helper.Files\Populate-SqLite-Db.sql</value>
      </setting>
      <setting name="SqLiteConnectionString" serializeAs="String">
        <value>Data Source=..\..\..\Helper.Files\SupermarketsChain.sqlite</value>
      </setting>
      <setting name="SalesReportsZipFile" serializeAs="String">
        <value>..\..\..\Helper.Files\Sales-Reports.zip</value>
      </setting>
      <setting name="MySqlScriptLocation" serializeAs="String">
        <value>..\..\..\Helper.Files\Create-MySql-Schema.sql</value>
      </setting>
      <setting name="MySqlConnectionString" serializeAs="String">
        <value>Data Source=localhost;User ID=root;Password=</value>
      </setting>
      <setting name="ExcelReportLocation" serializeAs="String">
        <value>..\..\..\Helper.Files\Financial-Results.xlsx</value>
      </setting>
    </SupermarketsChain.Helpers.Settings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="SupermarketsChainConnection" connectionString="Data Source=.;Initial Catalog=SupermarketsChain;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.6.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data></configuration>