<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SupermarketsChain.Helpers.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <userSettings>
    <SupermarketsChain.Helpers.Settings>
      <setting name="OracleConnectionString" serializeAs="String">
        <value>Data Source=localhost;User Id=TEAM_CRUX;Password=123;</value>
      </setting>
      <setting name="OracleSqlScriptLocation" serializeAs="String">
        <value>..\..\..\Helper.Files\Populate-Oracle-Db.sql</value>
      </setting>
      <setting name="XmlExpensesLocation" serializeAs="String">
        <value>..\..\..\Helper.Files\Vendor-Expenses.xml</value>
      </setting>
      <setting name="PdfSalesReportLocation" serializeAs="String">
        <value>..\..\..\Helper.Files\Aggregated-Sales-Report.pdf</value>
      </setting>
      <setting name="XmlSalesByVendorLocation" serializeAs="String">
        <value>..\..\..\Helper.Files\Sales-by-Vendors-Report.xml</value>
      </setting>
      <setting name="VerdanaFontLocation" serializeAs="String">
        <value>..\..\..\Helper.Files\Verdana.ttf</value>
      </setting>
    </SupermarketsChain.Helpers.Settings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="SupermarketsChainConnection" connectionString="Data Source=.;Initial Catalog=SupermarketsChain;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>