<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetZip" version="1.9.3" targetFramework="net451" />
  <package id="EntityFramework" version="6.1.2" targetFramework="net451" />
  <package id="iTextSharp" version="5.5.5" targetFramework="net451" />
  <package id="mongocsharpdriver" version="1.10.0" targetFramework="net451" />
  <package id="odp.net.managed" version="121.1.2" targetFramework="net451" />
</packages>